<div>
    <h2>
        <span>Temperatures</span>
        <button class="btn btn-primary float-right jh-create-entity create-temperature" [routerLink]="['/', { outlets: { popup: ['temperature-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Temperature
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="temperatures">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="value"><span>Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="time"><span>Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sensor.name"><span>Sensor</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let temperature of temperatures ;trackBy: trackId">
                <td><a [routerLink]="['../temperature', temperature.id ]">{{temperature.id}}</a></td>
                <td>{{temperature.value}}</td>
                <td>{{temperature.time | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="temperature.sensor">
                        <a [routerLink]="['../sensor', temperature.sensor?.id ]" >{{temperature.sensor?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../temperature', temperature.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'temperature/'+ temperature.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'temperature/'+ temperature.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="temperatures && temperatures.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
