
<div *ngIf="sensor">
    <h2><span>Sensor</span> {{sensor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{sensor.name}}</span>
        </dd>
        <dt><span>Mac Adress</span></dt>
        <dd>
            <span>{{sensor.macAdress}}</span>
        </dd>
        <dt><span>Room</span></dt>
        <dd>
            <div *ngIf="sensor.room">
                <a [routerLink]="['/room', sensor.room?.id]">{{sensor.room?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sensor/'+ sensor.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
